body{
  background-image: url('wallpaper2.jpg');
  background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
font-family: 'Nova Flat';font-size: 30px;
}
.logo img{
  position: absolute;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  }

.navbar {
  overflow: hidden;
  padding: 10px;
  
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #e29e0a;
  text-align: center;
  padding: 14px 16px;
  font-size: 100%;
  text-decoration: none;
  
}

/*ul {
  list-style-type: none;
  margin-top: 50px;
  margin-right: 50px;
  padding: 25px;
  overflow: hidden;
}

li {
  float: right;
  margin: 0px 25px;
font-family: verdana;
font-size: 100%;
}

li a {
  display: block;
  color: #e29e0a;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}


.btn{
  
}
.btn:hover{
  transform: translateY(-10px);
  background-color: #2b5cc796;
  color: var(--clr-light);
  

} 
*/
.flex-container {
  display:flex;
  width: 100%;
}


  .flex-container > div{
    
    margin: 0px 10px;
    padding: 0px;
    font-size: 30px;
 }

 h1{
  color: #29f7a1;
  font-size: 200%;
 }

 p {
  color: #29f7a1;
 }

 .dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #e29e0a;
  padding: 14px 16px;
  background-color: inherit;
  font-family: verdana;
  font-size: 100%; 
  margin: 0; 
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1 em;
  color: car(--clr-accent);
  background-color: var(--clr--rgba);
  border: 10px solid var(--clr-accent);
  border-radius: 5px;
  transition: all 0.3s;
  
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  color: #e29e0a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(8, 184, 17, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}